.festival-peñas {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    background-color: #f9f9f9;
    color: #333333;
}


.festival-title {
    font-size: 3rem;
    text-align: center;
    margin: 5rem auto;
    color: #23251f;
    font-family: 'Russo One', sans-serif;
    background-color: #dbbc32;
    padding: 1rem;
    max-width: 80%; /* Limita el ancho máximo del fondo */
    border-radius: 8px; /* Bordes redondeados */
    margin-left: auto;
    margin-right: auto; /* Centrado horizontal */
}


.festival-content {
    flex: 1; /* Este asegura que el contenido principal ocupe el espacio restante */
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
}
