/* Estilo global */
html, body {
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0; /* Eliminar padding por defecto */
  box-sizing: border-box; /* Asegura que el ancho incluye padding y bordes */
  width: 100%; /* Asegura que no haya desbordamiento horizontal */
  overflow-x: hidden; /* Oculta la barra horizontal */
  height: 100%; /* Asegura que ocupe toda la altura */
}

* {
  box-sizing: inherit; /* Aplica box-sizing a todos los elementos */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
